html, body {
    background-color: black;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 75px;
    text-align: center;
}

.result {
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.roundResult {
    color: white;
    font-size: 60px;
    position: fixed;
    text-align: center;
    top: 30%;
    left: 54%;
    margin-top: -100px; 
    margin-left: -250px;
}

.roundExplanation {
    color: white;
    font-size: 30px;
    padding-bottom: 150px;
}

.finalResult {
    left: 51%;
    top: 35%;
}

.score {
    color: white;
    font-size: 50px;
    position: fixed;
    top: 55%;
    left: 50%;
    margin-top: -100px; 
    margin-left: -250px; 
}

.button {
    width: 200px;
    height: 200px;
    margin: 80px;
    border-color: white;
    border-style: solid;
}

.startButton {
    height: 250px;
    position: absolute;
}

.playAgainButton {
    padding-top: 200px;
}

.bottom {
    display: flex;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hide {
    display: none;
}

.textCenter {
    text-align: center;
    display: flex;
}