html, body {
    background-color: black;
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 75px;
    text-align: center;
}

.result {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.roundResult {
    color: white;
    font-size: 70px;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 40px;
}

.roundExplanation {
    color: white;
    font-size: 30px;
    padding-bottom: 300px;
}

.finalResult {
    padding-bottom: 0px;
    font-size: 100px;
}

.score {
    color: white;
    font-size: 50px;
    position: fixed;
    top: 55%;
    left: 50%;
    margin-top: -100px; 
    margin-left: -250px; 
}

.button {
    width: 200px;
    height: 200px;
    margin: 40px;
    border: 2px solid #ccc;
    transform: scale(1);
    transition: all 0.8s;
}

.button:hover {
    transform: scale(1.15);
    transition: all 0.8s;
    -webkit-box-shadow: 0 0 30px #fff;
        box-shadow: 0 0 30px #fff;
}

.startButton {
    height: 250px;
    position: absolute;
}

.playAgainButton {
    position: absolute;
    margin-top: 150px;
    border: 2px solid #ccc;
    transform: scale(1);
    transition: all 0.8s;
}

.playAgainButton:hover {
    transform: scale(1.15);
    transition: all 0.8s;
    -webkit-box-shadow: 0 0 30px #fff;
        box-shadow: 0 0 30px #fff;
}

.bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40%;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

@media (min-width: 2000px) {
    .result {
        min-height: 600px;
    }
}
